.homepage-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
.all-users {
  display: inline-block;
  width: 30%;
  text-align: left;
  padding: 30px;
  background-color: #ddd;
  border-radius: 3px;
  margin: 15px;
  vertical-align: top;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.local-users {
  display: inline-block;
  width: 50%;
  text-align: left;
  padding: 30px;
  background-color: none;
  border-radius: 3px;
  margin: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.button {
  margin: 5px;
  box-shadow: 3px 4px 0px 0px #1564ad;
  background: linear-gradient(to bottom, #79bbff 5%, #378de5 100%);
  background-color: #79bbff;
  border-radius: 5px;
  border: 1px solid #337bc4;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 20px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #528ecc;
}
.button:hover {
  background: linear-gradient(to bottom, #378de5 5%, #79bbff 100%);
  background-color: #378de5;
}
.button:active {
  position: relative;
  top: 1px;
}
