$brown: #411d0b;
$blue: #1221a7;
$red: #9b1111;
$purple: #ad0a92;
$yellow: #e7eb15;
$orange: #c4480a;
$navy: #190b41;
$wine: #690931;
$green: #0b7225;
$lime: #98ce41;
$olive: #29411e;
$turq: #123f69;
